<div class="contact">
  <div class="contact-close">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
  <div class="contact-options">
    <h4>Contact</h4>
    <ul class="contact-links">
      <li><a href="mailto:simiographics@gmail.com">simiographics@gmail.com</a></li>
      <li><a href="https://dribbble.com/simiographics" title="Dribbble" target="_blank">Dribbble</a></li>
      <li><a href="https://github.com/simiographics" title="Github" target="_blank">Github</a></li>
      <li><a href="https://twitter.com/simiographics" title="Twitter" target="_blank">Twitter</a></li>
      <li><a href="http://mx.linkedin.com/in/salmendo" title="LinkedIn" target="_blank">LinkedIn</a></li>
      <li><a href="skype:simiographics?add" title="Skype">Skype</a></li>
    </ul>
  </div>
</div>
