<head>
  <base href="/">
  <title>{% if page.title %}{{ page.title }} ― {{ site.title }}{% else %}{{ site.title }} ― {{ site.slogan }}{% endif %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{site.description}}{% endif %}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} ― {{ site.title }}{% else %}{{ site.title }} ― {{ site.slogan }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:image" content="{{ site.baseurl | prepend: site.url }}/{% if page.image %}{{ page.image | prepend: site.assets.img }}{% else %}{{ site.image | prepend: site.assets.img }}{% endif %}" />
  <link rel="stylesheet" href="{{ 'main.css' | prepend: site.assets.css }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% include favicons.html %}
  {% include ga.html %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <script src="{{ 'core.js' | prepend: site.assets.js }}"></script>
</head>
