
html, body {
  min-height: 100%;
}

// Header
.main-header {
  padding: 35px 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  @include clearfix;

  .brand {
    float: left;
  }

  .bread-crumb {
    float: left;
    margin: {
      top: 3px;
      left: 10px;
    }
  }

  .nav {
    float: right;
    margin-top: 2px;

    a {
      margin-right: 30px;
    }
  }
}

.contact-open {
  overflow: hidden;
}

.head-fixed {
  padding-top: 90px;
}

// Footer
.main-footer {
  padding: 35px 0;

  .footer-brand {
    margin-bottom: 15px;
  }
}
