
// Global
html, body {
  min-height: 100%;
}

p + p {
  margin-top: 35px;
}

// Header
.main-header {
  padding: 35px 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  @include clearfix;

  .brand {
    float: left;
  }

  .bread-crumb {
    float: left;
    margin: {
      top: 3px;
      left: 10px;
    }
  }

  .nav {
    float: right;
    margin-top: 2px;

    a {
      margin-right: 30px;
    }
  }

  @include max-screen($screen-sm-min) {
    padding: 20px 0;

    .bread-crumb {
      display: none;
    }

    .nav {
      a {
        margin-right: 10px;
      }
    }
  }
}

.contact-open {
  overflow: hidden;
}

.head-fixed {
  padding-top: 90px;

  @include max-screen($screen-sm-min) {
    padding-top: 60px;
  }
}

// Footer
.main-footer {
  padding: 35px 0;

  .footer-brand {
    margin-bottom: 15px;
  }
}
