.home-page {
  background: #3A3942;
  text-align: center;
}

.home-intro {
  p {
    font-family: $primary-font;
    font-size: 18px;
    color: #A5A5AA;
  }
}

.home-nav {
  a {
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 13px;
  }
}