
// Home
.home-page {
  background: $white-color;
  background: #FDFDFA;
  text-align: center;
}

.home-intro {
  p {
    font-family: $primary-font;
    font-size: 18px;
    color: #A5A5AA;
  }
}

.home-nav {
  a {
    letter-spacing: 1px;
    font-family: $primary-font;
    text-transform: uppercase;
    font-size: 13px;
  }
}
